@font-face {
    font-family: 'Product-Sans-Regular';
    src: url('fonts/Product-Sans-Regular.ttf');
}

@font-face {
    font-family: 'Product-Sans-Bold';
    src: url('fonts/Product-Sans-Bold.ttf');
}

body.page, body.page > div#app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}