@font-face {
    font-family: 'Product-Sans-Regular';
    src: url('fonts/Product-Sans-Regular.ttf');
}

@font-face {
    font-family: 'Product-Sans-Bold';
    src: url('fonts/Product-Sans-Bold.ttf');
}